# IDE's
.idea

# App
booksql-laravel/node_modules
booksql-laravel/public/hot
booksql-laravel/public/storage
booksql-laravel/storage/*.key
booksql-laravel/vendor
booksql-laravel/.idea
booksql-laravel/.vscode
booksql-laravel/.vagrant
booksql-laravel/Homestead.json
booksql-laravel/Homestead.yaml
booksql-laravel/npm-debug.log
booksql-laravel/yarn-error.log
booksql-laravel/.env
booksql-laravel/.phpunit.result.cache
booksql-laravel/composer.lock

# DB
!db/mysql/.gitkeep
db/mysql/*

# Vue
booksql-vue/node_modules
booksql-vue//dist
booksql-vue/.env.local
booksql-vue/.env.*.local
booksql-vue/npm-debug.log*
booksql-vue/yarn-debug.log*
booksql-vue/yarn-error.log*
